modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn -b 0.0.0.0:5000 --preload app:app"]

[workflows]
runButton = "Flask Production"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Flask Production"
author = 40396170
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn -b 0.0.0.0:5000 app:app"

[[ports]]
localPort = 5000
externalPort = 80
